body,html{
    height: 100%;
}
.bg-dark {
    background-color: #1C202C!important;
}

.navbar-expand-lg .navbar-nav{}

.navbar-expand-lg .navbar-nav .nav{

}

.container-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    height: 70%;
}

.container-fluid-front{
  background: #1C202C;
  display: grid;
  flex-direction: row;
  width:100%;
  height: 110%;
  background-image: url("file:///C:/Users/B1/Desktop/frame-home/home/Ellipse 19.svg"), url('file:///C:/Users/B1/Desktop/frame-home/home/Ellipse 23.svg'), url("file:///C:/Users/B1/Desktop/frame-home/home/Ellipse 24.svg");
  background-repeat: no-repeat;
  background-position-y: 520px;
  flex-wrap: wrap;
}
 .row.row-fluid{
     /* width: 100%; */
     /* height: 100%; */
 }
.container-menu{
    background: #1C202C;
    display: flex;
    width: 100%;
    height: 100px;
    position: relative;
    flex-direction: row;
}

.svg-icons{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}
.svg-block-one{
    color: white;
    width: 100%;
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.svg-block-two{
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
}

.svg-icon-one{
  position: absolute;
  left: 0;
  width: 50%;
}

.svg-icon-two{position: absolute;width: 50%;right: -20px;}

.svg-icon-three{
  position: absolute;
  left: -3px;
  top: 65px;
}

.svg-icon-four{top: 65px;position: absolute;right: -20px;width: 50%;}

.svg-icon-five{position: absolute;top: 220px;left: 0;}

.tultip{
  position: absolute;
  top: -5px;
  left: 90px;
  }
.svg-icon-one span{
  position: absolute;
  left:50px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 90px;
/* identical to box height, or 500% */
  color: #FFFFFF;
}

.svg-icon-two span{
  position: absolute;
  left: 70px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 90px;
/* identical to box height, or 500% */
  color: #FFFFFF;
}

.svg-icon-three span{
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 90px;
/* identical to box height, or 500% */
  color: #FFFFFF;
}
.svg-icon-four span{
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 90px;
/* identical to box height, or 500% */
  color: #FFFFFF;
  padding-left: 27px;
}

svg.logo{
  width: 99px;
  height: 70px
}
.svg-logo{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 150px;
    top: 14px;
}
ul.ul-menu-one{
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 260px;
    top: 42px;
}
ul.ul-menu-two{
    position: absolute;
    right: 150px;
    top: 42px;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.ul-menu-one li{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: white;
padding-left: 44px;
}
.ul-menu-two li{
    padding-left: 37px;
    text-decoration: none;
}



.container-fluid-back{
    background: #1C202C;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



/*dropdown-content-crypto-block*/
i.fa.fa-btc{
    font-size:25px;
    background-color:orange;
    border-radius:50%;
    padding:5px 9px 5px 9px
}
i.fa.fa-krw{
border-radius:50%;
font-size:20px;
color: white;
}
i.fa.fa-jpy{
    border-radius:50%;
    color: white;
    font-size:20px;
}
.dropbtn-crypto {
    background: #272C3B;
    color: white;
    padding-top:10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
.dropdown-crypto {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #272C3B;
}
.dropdown-content-crypto {
    right: -52px;
    top: 75px;
    border:none;
    display: none;
    position: absolute;
    min-width: 442px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dropdown-content-crypto a {
    background-color: #272C3B;
    color: white;
    opacity: 0.7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #ddd;}
.show {display: block;}






/*DROPDOQN-LANGUAGE*/
.dropbtn-language {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown-language {
  position: relative;
  display: inline-block;
}

.dropdown-content-language {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-language a {
  color: white;
  padding: 12px 16px;
  opacity: 0.6;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show{
  display: block;
}




/*maininfo block*/

.main-info{
    position: absolute;
    width: 40%;
    left: 150px;
    height: auto;
    top: 100px;
    display: flex;
    flex-direction: column;
    background: #1C202C;
}

.main-info p{
    color:white;
    font-weight:bold;
    font-family:'DM Sans';
font-style: normal;
font-size: 56px;
line-height: 65px;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.main-info h1{
  font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
    
}




















.input-one-two{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    position: absolute;
    top: 100px;
    right: 150px;
}
.check-information {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: white;
    margin-left: 25px;
}
.exchange-details h1{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #879AB6;
    opacity: 0.8;
    padding-top: 5px;
    padding-bottom: 32px;
    margin-left: 20px;
    letter-spacing: 1px;
}
.input-field-one{
    position: relative;
    height: 105px;
}
span.curse{
  color:white;
  position: absolute;
  top: 136px;
  right: 40%;
  font-size: 16px;
  line-height: 20px;
  font-family: dm sans;
}
.input-field-two{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 90px;
}
.input-field-three{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.bind-course{
  font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
    position: absolute;
    bottom: -50px;
    left: 32%;
    color:white;
    letter-spacing:1px;
}
input[type=text]{background: #272C3B;box-shadow: 0px 0px 6px rgba(255, 76, 102, 0.6);border-radius: 20px;width: 100%;height: 105px;font-size: 18px;border: none;padding-left: 20px;padding-top: 40px;padding-bottom: 15px;color: white;font-weight: bold;}

#myInput{border-radius: 10px;
padding: 0;
margin: auto;
opacity: 0.7;
font-size: 20px;
color:white;
font-weight: bold;
height: 40px;
padding-left: 10px;
}
#myInput:focus {1px solid grey;}

.up-text-one{
    position: absolute;
    left: 20px;
    color: white;
    top: 15px;
    font-size: 14px;
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
}
.up-text-two {
    position: absolute;
    left: 20px;
    color: white;
    top: 15px;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}
.up-text-three {
    position: absolute;
    color: white;
    left: 20px;
    top: 14px;
    opacity: 0.3;
    font-size: 14px;
}
.hyphen-one{
    
opacity: 0.4;
    
bottom: 10px;
    
left: 20px;
    
position: absolute;
    
width: 70%;
    
opacity: 0.1;
    
border: 1px solid #FFFFFF;
    
transform: rotate(0.19deg);
}
.hyphen-two{
   bottom: 10px;
    left: 20px;
    position: absolute;
    width: 280px;
    opacity: 0.1;
    border: 1px solid #FFFFFF;
}
.hyphen-three{
    border-bottom: 1px solid grey;
    opacity: 0.4;
    bottom: 20px;
    position: absolute;
    width: 220px;
    left: 20px;
    top: 65px;
}


.block-curruncies{
    position: absolute;
    right: 10px;
    top: 22px;
    right: 50px;
    background-color: #272C3B;
}



.exchange{
    background: linear-gradient(91.42deg, rgba(255, 76, 102, 0.7) 1.28%, rgba(218, 74, 190, 0.28) 101.16%);
    border-radius: 20px;
    margin-top: 30px;
    border: none;
    width: 100%;
    height:70px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    box-shadow: -3px -1px 20px 2px rgba(189, 82, 168, 0.28);
}
i.fa.fa-exchange{
    color: white;
    opacity: 0.4;
    transform: rotate(90deg);
    box-sizing: border-box;
    transform: matrix(0, -1, -1, 0, 0, 0);
}

.re-exchange{
    background-color: #272C3B;
    position: absolute;
    top: 125px;
    right: 40px;
    width: 50px;
    height: 45px;
    border-radius: 9px;
    border: none;
}


















.progress-scroll {
    position: absolute;
    top: 100px;
    left: 135px;
    width: 820px;
    height: 4px;
}

.steps {
    position: relative;
    display: flex;
    border-radius: 7px;
    justify-content: space-between;
    background: linear-gradient(90deg, #FF4C66 0%, #683166 50%, rgba(18, 247, 233, 0.7) 100%);
    box-shadow: 0px 0px 6px rgba(255, 76, 102, 0.6);
}

.step {
  background: #1C202C;
  border: 4px solid #FB4D6C;
  box-sizing: border-box;
/* Stepper */
  box-shadow: 0px 0px 6px rgba(255, 76, 102, 0.6), inset 0px 0px 6px #BD4166;
  padding-bottom: 5px;
  flex-direction: column;
  width: 16px;
  margin: -4px;
  height: 16px;
  border-radius: 50%;
  transition: background 1s;
}

.step-one, .step-two, .step-three, .step-four{
    text-align: left;
    Font-Family: DM Sans;
    width: 120px;
    padding-top: 14px;
    Font-Size: 13px;
    Line-Height: 17px;
    Align: Left;
    Vertical-Align: Top;
    color: #879AB6;
    opacity: 0.7;
}

.step-one {
    left: 0;
    top: 30px;
    position: absolute;
    font-size: 16px;
    height: 100%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;

/* Color / white */
    color: #FFFFFF;
    width: 30%;
}

.step-two {
    left: 268px;
    position: absolute;
    height: 100%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #FFFFFF;
    width: 30%;
    top: 30px;
}

.step-three {
    left: 536px;
    position: absolute;
    height: 100%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #FFFFFF;
    width: 20%;
    top: 30px;
}

.step-four {
    position: absolute;
    color: white;
    height: 100%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #FFFFFF;
    width: 30%;
    top: 30px;
}

.four-steps {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    left: 135px;
    top: -10px;
    color: white;
}









